@{
    ViewBag.Title = "ShowContactForm";
}

<h2>Ulaşmak için</h2>
<form action="#" method="post">
    <h3>İsim</h3>
    <input type="text" name="firstName" />
    <h3>Soyad</h3>
    <input type="text" name="lastName" />
    <h3>E-mail</h3>
    <input type="email" name="eMail" />
    <h3>Doğum Tarihi</h3>
    <input type="date" name="dateOfBirth" />
    
    <input type="submit" value="Gönder" />
</form>
